# Python
__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/

# Environments
.env
.venv
venv/
env/
*.egg-info/

# Data
data-raw/*
!data-raw/README.md
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep

# Large outputs
results/figures/*
!results/figures/.gitkeep
results/tables/*
!results/tables/.gitkeep

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
