# Python
__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/

# Environments
.env
.venv
venv/
env/
*.egg-info/

# Data
!data-backup/README.md
!data/raw/.gitkeep
!data/raw/README.md
data/processed/*
!data/processed/.gitkeep
data-backup/*

# Models
models/*
!models/.gitkeep

# Large outputs
results/figures/*
!results/figures/.gitkeep
results/tables/*
!results/tables/.gitkeep
results/*

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
